ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  &:after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: var(--light-slate);
  }
  li {
    &:last-of-type {
      margin-bottom: 20px;
    }
    a {
      padding: 10px;
      &:hover,
      &:focus {
        transform: translateY(-3px);
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.sns {
  width: 40px;
  position: fixed;
  bottom: 0;
  right: auto 40px;
  z-index: 10;
  color: var(--light-slate);
  @media (max-width: 1080px) {
    right: auto 20px;
  }
  @media (max-width: 768px) {
    display: none;
  }
}
