#about {
  font-family: "Noto Sans JP";

  .contents-body {
    color: #8893af;
    font-family: "Roboto";
    font-weight: bold;
  }
  ul.skills-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(140px, 200px));
    grid-gap: 0 10px;
    padding: 0;
    margin: 20px 0 0 0;
    overflow: hidden;
    list-style: none;

    @media (max-width: 580px) {
      grid-template-columns: repeat(2, minmax(140px, 200px));
    }

    li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 20px;
      font-family: "Inconsolata";
      font-size: var(--fz-xs);
      &:before {
        content: "▹";
        position: absolute;
        padding-top: 6px;
        left: 0;
        color: #7511f6;
        font-size: var(--fz-sm);
        line-height: 12px;
      }
    }
  }
}
