$text-color1: white;

.App {
  // text-align: center;
  background-color: #0a192e;
  color: white;
}

section {
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0px auto;
  padding: 100px 0px;
  @media (max-width: 480px) and (min-height: 700px) {
    padding-bottom: 10vh;
  }
}

.numbered-heading {
  &:before,
  &:after {
    box-sizing: inherit;
  }
}
