.App {
  background-color: hsl(215, 64%, 11%);
  color: white;
}

main {
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
}

section {
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  max-width: 900px;
  margin: 0px auto;
  padding: 100px 0px;

  @media (max-width: 480px) and (min-height: 700px) {
    padding-bottom: 10vh;
  }
}

.numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-family: "Roboto";
  font-size: clamp(26px, 5vw, 37px);
  white-space: nowrap;
  color: #ccd6f6;

  &:after {
    content: "";
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #273957;
  }
}
